#projetos {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.projeto1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid var(--text-color);
}

.projeto2 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid var(--text-color);

}

.projeto3 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: none;
    border-bottom: 1px solid var(--text-color);
}

.projeto4 {
    width: 100%;
    height: 500px;
    display: none;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.exemplo-do-projeto img {
    width: 620px;
    height: 400px;
}

.sobre-o-projeto {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nome-do-projeto1,
.nome-do-projeto2,
.nome-do-projeto3,
.nome-do-projeto4 {
    text-align: center;
    font-family: var(--font-primaria);
    color: var(--h1-color-second);
    text-shadow: 0 0 10px var(--bg-color-second),
        0 0 20px var(--bg-color-second),
        0 0 40px var(--bg-color-second);
}

.sobre-o-projeto h3 {
    -webkit-box-reflect: unset;
}

.mais {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
}

.mais-desktop {
    display: none;
}

.sobre-o-projeto a{
    position: relative;
    width: 140px;
    height: 40px;
    background: var(--h1-color-second);
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: var(--font-primaria);
    color: var(--bg-color-second);
    border-radius: 15px;
    padding-top: 8px;
    transition: 1s;
}

.descricao-do-projeto1,
.descricao-do-projeto2,
.descricao-do-projeto3,
.descricao-do-projeto4 {
    width: 100%;
    text-align: center;
}

.mostrar-mais {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ver-mais {
    width: 100%;
    height: 100px;
    font-family: var(--font-primaria);
    color: var(--text-color);
    filter: drop-shadow(0 0 10px black);
    padding: 20px;
    border: none;
    background: none;
    font-size: 40px;
    cursor: pointer;
    transition: 1s;
    letter-spacing: 2px;
}

#ver-mais:hover {
    transform: scale(1.06);
}

@media (min-width: 220px) and (max-width: 480px) {

    .projeto1 {
        height: 100%;
        flex-direction: column-reverse;
        gap: 0;
        margin-top: 80px;
        margin-bottom: 50px;

    }

    .projeto2, .projeto3, .projeto4 {
        height: 100%;
        flex-direction: column-reverse;
        gap: 0;
        margin-bottom: 50px;

    }

    .exemplo-do-projeto img {
        width: 100%;
        height: 100%;
    }

    #ver-mais {
        font-size: 20px;
        padding: 20px;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    .projeto1,
    .projeto2,
    .projeto3,
    .projeto4 { 
        flex-direction: column;
        height: 100%;
        padding-bottom: 40px;
    }

    .exemplo-do-projeto img {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .projeto1,
    .projeto2,
    .projeto3, 
    .projeto4 {
        flex-direction: column-reverse;
        height: 100%;
        padding-top: 40px;
        padding-bottom: 20px;
        gap: 10px;
    }

    .mais {
        display: none;
    }

    .mais-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 50px;
    }

    .mais-desktop a {
        width: 140px;
        height: 40px;
        background: var(--h1-color-second);
        text-decoration: none;
        list-style: none;
        text-align: center;
        font-family: var(--font-primaria);
        color: var(--bg-color-second);
        border-radius: 15px;
        padding-top: 8px;
        transition: 1s;
    }
}

@media (min-width: 1024px) {

    #projetos {
        padding: 50px;
    }

    .projeto1, .projeto2, .projeto3, .projeto4 {
        padding-bottom: 60px;
    }

    .sobre-o-projeto h2 {
        font-size: 30px;
    }

    .mais-desktop a {
        width: 180px;
        font-size: 22px;
    }

}